// Place all the styles related to the Search_Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$font-header: "Crimson Text", serif;
$font-body: "Oxygen", sans-serif;

/* COLORS */
/* ANALOGOUS COLOR SCHEME */
$background-main: #769cc3;
$background-main-gradient: #b5c6d6;
$background-secondary: #595a9a;
$background-tertiary: #599a9a;
$background-gradient: #d4e4ef;
$backdrop-dark: #597a9a;
$backdrop: #d6dfe8;

$navbar-gradient: #598a9a;

$font-color: #152b4f;

$background-results: #ededef;

$background-list1: $backdrop, $background-main-gradient;

$navbar-list1: $background-tertiary, $navbar-gradient;

@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $backdrop;
  @include gradient(left, $background-list1);
}

body {
  font-family: $font-body;
  flex-direction: column;
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.75em;
  margin: 0em;
  max-width: 100%;
  min-width: 100%;
}

h1 {
  font-family: $font-header;
  color: $font-color;
  justify-content: center;
  min-height: 0em;
  min-width: 3.25em;
}

h3 {
  padding-left: 2em;
}

h4 {
  font-family: $font-header;
}

ul {
  font-family: $font-body;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

.nav-bar {
  @include gradient(right, $navbar-list1);
  font-family: $font-body;
  font-size: 0.8rem;
  text-align: center;
  min-height: 3em;
  min-width: 75%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: left;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  border-bottom: 3px solid $font-color;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

#search-container {
  background: $background-main;
  border-radius: 25px 200px;
  padding: 1em;
  margin: 2em 10em 0em 10em;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

#header {
  font-size: 2em;
  margin: 0em;
}

#results {
  background-color: $background-results;
  border-radius: 10px;
  padding: 1em;
  margin: 0em 10em 2em 10em;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

#navbar-b {
  overflow: hidden;
  background-color: #4f5974;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1em;
  text-align: left;
  font-size: 0.5em;
  border-top: 1px solid #599a9a;
}
